<div class="row">
    <div class="col-sm-2">
        <img src="{{orderDetails.pizza.img_url}}" alt="Img">
    </div>
    <div class="col">
        <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
            <h3>{{orderDetails.pizza.name}}</h3> 
            <h3> &#8377; {{orderDetails.pizza.price * orderDetails.quantity}}</h3> 
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
            <p>{{orderDetails.pizza.description}}</p> 
            <app-toggle-button [count]="orderDetails.quantity" (quantityChanged)="changeQuantity($event)"></app-toggle-button>
        </div>
        <div fxLayout="row">
            <h4> {{orderDetails.size}} </h4> 
        </div>
        <mat-divider class="top-margin">
            
        </mat-divider>
        <div fxLayout="row" class="top-margin">
            <mat-label>
                Toppings
            </mat-label>
            <h5 class="topping">
                {{toppings}}
            </h5>
        </div>
    </div>
</div>