<div class="container">
    <div fxLayout="row" fxLayoutAlign="start" style="padding-left: 3%;">
        <mat-form-field appearance="fill">
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="sortFieldChange($event.value)" name="sort">
              <mat-option *ngFor="let data of sortArr" [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row"fxLayoutAlign="space-between" style="padding-left: 3%;">
      <mat-checkbox [(ngModel)]="isVegOnly" color="primary">Veg Only</mat-checkbox>
      <div class="col-md-5">
        <input type="search" class="searchBox" [(ngModel)]="searchText" placeholder="Search by name">
      </div>
    </div>
    <div class="row"> 
      
            <div fxLayout="row" fxLayoutAlign="space-around" *ngFor="let data of pizzaArr | filter: isVegOnly | search : searchText | sort: sortValue">
                <app-pizza-card [pizzaData]="data"></app-pizza-card>
            </div>
        
    </div>
</div>
