<ul class="tab" >
    <li>
        <input id="tab2" type="radio" name="tab" />
        <label for="tab2">
            <mat-icon class="large-icon" (click)="remove()">remove</mat-icon>
        </label>
    </li>
    <li>
        <label for="tab3" class="center" style="border: 0;">{{count}}</label>
    </li>
    <li>
        <input id="tab4" type="radio" name="tab" />
        <label for="tab4">
            <mat-icon class="large-icon" (click)="add()">add</mat-icon>
        </label>
    </li>
</ul>

